<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Boggle</title>
</head>
<body>
    <h1>BOGGLE</h1>
    <section id="boggle">
        <table class="board">
            <tbody>
                {% for row in board%}
                <tr>
                    {% for letter in row%}
                    <td>{{letter}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <form method="POST" class="word-submit">
            <input type="text" name="word" class="word">
            <button>SUBMIT WORD</button>
        </form>
    </section>
    <script src="/static/boggle.js"></script>
    <script src="https://unpkg.com/axios@1.6.8/dist/axios.min.js"></script>
    <script src="https://unpkg.com/jquery"></script>
</body>
</html>